.admin-content{
    width: 100%;
}

.admin-content-container{
    justify-content: center;
    width: fit-content;
    padding: 20px 20px;
    margin: 20px 0 0 20px;
    border: 1px solid #efeeee;
    /* background-color: #efeeee; */
}

.admin-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-admin-add{
    margin-right: 10px;
}

.admin-btn-container{
    margin-top: 30px;
    margin-right: 100px;
    justify-content: center;
}

.require-icon{
    color: red
}

.ant-upload-wrapper{
    margin-top: 15px !important;
}

.mg-t-15 {
    margin-top: 15px;
}